@charset "utf-8";
/* CSS Document */

.news{ width:1202px; overflow:hidden; margin:0 auto;font-family:"Microsoft YaHei"; margin-top:30px;}
.news .nav{ width:145px; overflow:hidden;float:left; }
.news .nav h4{ width:145px; height:55px; background:#F00; text-align:center;font-weight:normal;}
.news .nav h4 a{ display:block; width:145px; font-size:18px; text-align:center;}
.news .nav h4 a{ color:#FFF; }
.news .nav ul{ width:145px; overflow:hidden; background:#e7e2e2; font-size:12px; text-align:center; padding-top:20px; padding-bottom:30px;}
.news .nav ul li{ width:100px; height:40px; margin:0 auto; line-height:40px;margin-top:15px; border:2px #FF0000 solid; width:100px; height:40px; background:#F00;}
.news .nav ul li a{color:#FFF; display:block; width:100px; height:40px;}
.news .nav ul li:hover{ background:#e7e2e2; border:2px #FF0000 solid;}
.news .nav ul li:hover a{ color:#F00;}
.news .nav ul .current{ background:#e7e2e2; border:2px #FF0000 solid;}
.news .nav ul .current a{ color:#F00;}
.news .top{ width:1057px; height:56px; float:right;border-bottom:1px #FF0000 solid;}
.news .top p .current{ color:#F00;}
.news .top p a:hover{ color:#F00;}